<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Início</title>
</head>

<body>

    <div class="navigation-col-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">{{ title }}</a>
                </div>
                <ul class="navbar navbar-nav">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-home"></span> IFPR
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="center-login">

        <div class="card-login">

            <h2>LOGIN</h2>
            <form action="" method="POST">

                <div class="textfield">
                    <label for="usuario"> E-mail </label>
                    <input type="text" name="usuario" id="usuario" placeholder="E-mail">
                </div>

                <div class="textfield">
                    <label for="senha"> Senha </label>
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </div>

                <div align="center">
                    <div class="botao">

                        <button type="submit" class="botao1"> Login </button>

                    </div>
                    <div class="botao">

                        <button type="reset" class="botao2"> Cancelar </button>
                    </div>
                </div>




            </form>


            <div class=" cadastrar ">
                Não possui conta? <br>
                <a href="../cadastrar.php "> Cadastre-se </a>
            </div>

        </div>



    </div>

</body>

</html>